*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat';
    background-color: #cccccc;
    background-image: url(../img/oppacity_bck.png), linear-gradient(50deg,#56EFE0,#3B2AB5);
    background-attachment: fixed;
}

nav{
    background: #0082e6;
    height: 80px;
    width: 100%;
}

label.logo{
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}

nav ul{
    float: right;
    margin-right: 20px;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a{
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

a.active,a:hover{
    background: #1b9bff;
    transition: .5s;
}

.checkbtn{
    font-size:  30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}

@media (max-width: 952px){
    label.logo{
        font-size: 30px;
        padding-left: 50px;
    }
    nav ul li a{
        font-size: 16px;
    }
}

@media (max-width: 858px){
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: .5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    a:hover,a.active{
        background: none;
        color: 0082e6;
    }
    #check:checked ~ ul{
        left: 0;
    }
}

.container{
    position: relative;
    width: 1200px;
    height: 300px;
    margin: 240px auto;
    background: none;
}

.container .box{
    position: relative;
    width: calc(400px - 30px);
    height: calc(300px - 30px);
    padding: 40px;
    background: #FFFFFF;
    float: left;
    margin: 15px;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,.1);
    text-align: center;
}

.container .box:before{
    content: '';
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(255,255,255,.2);
    z-index: 2;
}

.container .box .icon{
    position: relative;
    width: 80px;
    height: 80px;
    color: #fff;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    border-radius: 50%;
    font-size: 40px;
    font-weight: 700;
    transition: 1s;
}

.container .box:nth-child(1) .icon{
    box-shadow: 0 0 0 0 #3385ff;
    background: #3385ff;
}

.container .box:nth-child(1):hover .icon{
    box-shadow: 0 0 0 400px #3385ff;
    background: #3385ff;
}

.container .box:nth-child(2) .icon{
    box-shadow: 0 0 0 0 #003380;
    background: #003380;
}

.container .box:nth-child(2):hover .icon{
    box-shadow: 0 0 0 400px #003380;
    background: #003380;
}

.container .box:nth-child(3) .icon{
    box-shadow: 0 0 0 0 #99c2ff;
    background: #99c2ff;
}

.container .box:nth-child(3):hover .icon{
    box-shadow: 0 0 0 400px #99c2ff;
    background: #99c2ff;
}

.container .box .content{
    position: relative;
    z-index: 1;
    transition: 0.5s;
}

.container .box:hover .content{
    color: #fff;
}

.container .box .content h3{
    font-size: 20px;
    margin: 10px 0;
    padding: 0;;
}

.container .box .content p{
    margin: 0;
    padding: 0;
}

.container .box .content a{
    display: inline-block;
    padding: 10px 20px;
    background: #fff;
    border-radius: 4px;
    text-decoration: none;
    color: #000;
    font-weight: 500;
    margin-top: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,.2);
}

.img-container {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: auto;
    margin-left: auto;
    max-width: 100%;
    height: auto;
}